<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{eat}}">
		{{#if eat}}{{else}}EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">{{#if eat}}DELETE{{/if}}</button>
</li>
